# Server
PORT=5000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=cryflex
DB_USER=username
DB_PASSWORD=password

# Auth
SECRET_KEY=replace_this_with_a_secure_random_string

# CoinMarketCap API (for testing purposes only)
CMC_API_KEY=34dfe5a2-2c3a-4aff-8cd6-8499c348a107
# You can register your own key at https://pro.coinmarketcap.com/

# Frontend (CORS)
CLIENT_URL=http://localhost:3000