.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.justify-start {
  justify-content: flex-start;
}
.align-start {
  align-items: flex-start;
}
.align-center {
  align-items: center;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}